input[type="text"],
input[type="password"],
input[type="email"] {
    width: 280px;
    height: 40px;
    margin: 5px 0;
    padding: 0 5px;
    font-size: 12px;
    color: $color2;
    background: $color1;
    border: 1px solid $color4;
    @include border-radius(0);
    @include box-shadow(0);
    -webkit-appearance: none;
}

textarea {
    width: 400px;
    height: 140px;
    max-width: 275px;
    min-width: 400px;
    max-height: 400px;
    min-height: 140px;
    margin: 5px 0;
    padding: 0 5px;
    line-height: 12px;
    font-family: arial;
    color: $color2;
    background: $color1;
    border: 1px solid $color4;
    -webkit-appearance: none;
}

input[type="submit"],
button[type="submit"] {
    display: inline-block;
    height: 30px;
    padding: 0;
    color: $color1;
    border: 0;
    text-decoration: none;
    background: transparent;
    -webkit-appearance: none;

    &:hover {
        color: $color2;
        cursor: pointer;
    }
}