<template name="adminPostList">
    <section class="main">
        <h1>{{i18n "admin.posts"}}</h1>
        <ul class="admin-post-list">
            {{#each posts}}
                {{> adminPost}}
            {{/each}}
        </ul>
    </section>
</template>

<template name="adminPost">
    <li class="admin-post">
        <p>
            {{firstLine}}
        </p>
        <div class="admin-post-actions">
            <button class="post-edit">{{i18n "admin.posts.edit"}}</button>
            <button class="post-delete">{{i18n "admin.posts.delete"}}</button>
        </div>
    </li>
</template>