<template name="adminPostList">
    <h1>{{i18n "admin.posts"}}</h1>
    <ul class="admin-post-list">
        {{#each posts}}
            {{> adminPost}}
        {{/each}}
    </ul>
</template>

<template name="adminPost">
    <li class="admin-post well">
        <h3>{{firstLine}}</h3>
        <div class="admin-post-actions">
            <a href="{{pathFor 'adminPostEditor'}}" class="btn btn-warning">
                <span class="glyphicon glyphicon-edit"></span> {{i18n "admin.posts.edit"}}
            </a>
            <button class="btn btn-danger post-delete">
                <span class="glyphicon glyphicon-trash"></span> {{i18n "admin.posts.delete"}}
            </button>
        </div>
    </li>
</template>