<template name="adminLogin">
    <section class="login">
    	<div class="login-content">
    		<h1>{{__ "login.title"}}</h1>
            <img src="images/logo.png" alt="">

    		{{#if error}}
    		    <div>{{error}}</div>
    		{{/if}}
    		<form action="#">
    		    <input type="text" name="login" required placeholder="{{__ 'user.login'}}">
    		    <input type="password" name="password" required placeholder="{{__ 'user.password'}}">
    		    <button type="submit">{{__ "login"}}</button>
    		</form>
    	</div>
    </section>
</template>