.post-editor-split {
    position: relative;
    height: 400px;
    
    .post-editor-title {
        position: absolute;
        top: 0;
        left: 10px;
    }
}


.post-editor-codemirror, 
.post-editor-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding-left: 20px;
    padding-top: 60px;
}

.post-editor-codemirror {
    left: 0;
    
    .CodeMirror {
        height: 100%;
    }
}


.post-editor-preview {
    right: 0;
    border-left: 1px solid $color4;
}

.post-editor-preview-content {
    padding-left: 20px;
    
    img {
        max-width: 100%;
    }
}
