.admin-post-list {
	width: 50%;

}

.admin-post {
	height: 80px;
	margin-bottom: 15px;
	background: $color1;

	.admin-post-actions {
		float: right;
		margin-right: 15px;
		line-height: 80px;
	}

	button {
		color: $color1;
		background: $color5;
		@include border-radius(3px);
	}

	p {
		display:block;
		float: left;
		margin-left: 40px;
		font-size: 25px;
		color: $color4;
		line-height: 80px;
	}
}


